<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row justify-content-md-center text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="row justify-content-md-center text-center">
    <div class="col-md-4 col-md-offset-4">
      <!-- <h4>Game Board here</h4> -->
      Board here:

      <tile [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></tile>

      <div *ngIf="coursesList > 0; then coursesList else noCourses"></div>
      <ng-template #coursesList>List of courses</ng-template>
      <ng-template #noCourses>No courses</ng-template>
    </div>


  </div>
  <div class="row text-center">
    <div class="col-md-4 col-md-offset-4">
      <h4>Score here</h4>
      <button class="btn" (click)="onAdd()">Add</button>
      <ul>
        <li *ngFor="let course of courses">
          {{ course.name }}
          <button class="btn btn-danger" (click)="onChange(course)">Remove</button>
        </li>
      </ul>

    </div>
  </div>
</div>